<?xml version="1.0" encoding="UTF-8"?>
<configuration>
-   <property name="LOG_PATH" value="logs"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="SYSLOG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/sys.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/archived/sys.%d.%i.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Default logger -->
    <root level="error">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SYSLOG" />
    </root>

    <!-- Custom logger per class if needed -->
    <!-- Log requests and responses -->
    <logger name="org.springframework.web" level="debug"/>

    <logger name="ROOT" level="error"/>
</configuration>